
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.grid-contianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 5px;
  background-color: #bbada0;
  padding: 10px;
}

.grid-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.grid-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  background-color: #cdc1b4;
  font-size: 30px;
  font-weight: bold;

}
